[Unit]
Description=Check archives using borgmatic.
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart="{{ borgmatic_calling_script_directory }}/{{ borgmatic_instance_name }}.sh" --check
{% if borgmatic_reverse_tunnel_enable %}
User={{ borgmatic_backupserver_user }}
Group={{ borgmatic_backupserver_user }}
{% else %}
User={{ borgmatic_servertobackup_user }}
Group={{ borgmatic_servertobackup_user }}
{% endif %}

[Install]
WantedBy=multi-user.target
