#!/bin/bash
set -Eeu

{% if borgmatic_reverse_tunnel_enable %}
{{ borgmatic_reverse_tunnel_ssh_command }} {{ borgmatic_path }} -c "/etc/borgmatic.d/{{ borgmatic_config_name }}" $*
{% else %}
{{ borgmatic_path }} -c "/etc/borgmatic.d/{{ borgmatic_config_name }}" $*
{% endif %}

