[Unit]
Description=Create backups using borgmatic.
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
{% if borgmatic_large_repo %}
ExecStart="{{ borgmatic_calling_script_directory }}/{{ borgmatic_instance_name }}.sh" --create --prune
{% else %}
ExecStart="{{ borgmatic_calling_script_directory }}/{{ borgmatic_instance_name }}.sh"
{% endif %}

{% if borgmatic_reverse_tunnel_enable %}
User={{ borgmatic_backupserver_user }}
Group={{ borgmatic_backupserver_user }}
{% else %}
User={{ borgmatic_servertobackup_user }}
Group={{ borgmatic_servertobackup_user }}
{% endif %}

[Install]
WantedBy=multi-user.target
