# Where to look for files to backup, and where to store those backups.
# See https://borgbackup.readthedocs.io/en/stable/quickstart.html and
# https://borgbackup.readthedocs.io/en/stable/usage/create.html
# for details.
location:
    # List of source directories to backup (required). Globs and
    # tildes are expanded. Do not backslash spaces in path names.
    source_directories:
{% for dir in borgmatic_location_source_directories %}
        - {{ dir | quote }}
{% endfor %}

    # Paths to local or remote repositories (required). Tildes are
    # expanded. Multiple repositories are backed up to in
    # sequence. Borg placeholders can be used. See the output of
    # "borg help placeholders" for details. See ssh_command for
    # SSH options like identity file or port. If systemd service
    # is used, then add local repository paths in the systemd
    # service file to the ReadWritePaths list.
    repositories:
        - {{ borgmatic_ssh_connection_name }}:{{ borgmatic_repo_name }}

    # Stay in same file system (do not cross mount points).
    # Defaults to false. But when a database hook is used, the
    # setting here is ignored and one_file_system is considered
    # true.
    # one_file_system: true
{% if borgmatic_location_one_file_system is defined %}
    one_file_system: {{ borgmatic_location_one_file_system }}
{% endif %}

    # Only store/extract numeric user and group identifiers.
    # Defaults to false.
    # numeric_owner: true
{% if borgmatic_location_numeric_owner is defined %}
    numeric_owner: {{ borgmatic_location_numeric_owner }}
{% endif %}

    # Store atime into archive. Defaults to true.
    # atime: false
{% if borgmatic_location_atime is defined %}
    atime: {{ borgmatic_location_atime }}
{% endif %}

    # Store ctime into archive. Defaults to true.
    # ctime: false
{% if borgmatic_location_ctime is defined %}
    ctime: {{ borgmatic_location_ctime }}
{% endif %}

    # Store birthtime (creation date) into archive. Defaults to
    # true.
    # birthtime: false
{% if borgmatic_location_birthtime is defined %}
    birthtime: {{ borgmatic_location_birthtime }}
{% endif %}

    # Use Borg's --read-special flag to allow backup of block and
    # other special devices. Use with caution, as it will lead to
    # problems if used when backing up special devices such as
    # /dev/zero. Defaults to false. But when a database hook is
    # used, the setting here is ignored and read_special is
    # considered true.
    # read_special: false
{% if borgmatic_location_read_special is defined %}
    read_special: {{ borgmatic_location_read_special }}
{% endif %}

    # Record bsdflags (e.g. NODUMP, IMMUTABLE) in archive.
    # Defaults to true.
    # bsd_flags: true
{% if borgmatic_location_bsd_flags is defined %}
    bsd_flags: {{ borgmatic_location_bsd_flags }}
{% endif %}

    # Mode in which to operate the files cache. See
    # http://borgbackup.readthedocs.io/en/stable/usage/create.html
    # for details. Defaults to "ctime,size,inode".
    # files_cache: ctime,size,inode
{% if borgmatic_location_files_cache is defined %}
    files_cache: {{ borgmatic_location_files_cache }}
{% endif %}

    # Alternate Borg local executable. Defaults to "borg".
    # local_path: borg1
{% if borgmatic_location_borg_local_path is defined %}
    remote_path: {{ borgmatic_location_borg_local_path }}
{% endif %}

    # Alternate Borg remote executable. Defaults to "borg".
    # remote_path: borg1
{% if borgmatic_location_borg_remote_path is defined %}
    remote_path: {{ borgmatic_location_borg_remote_path }}
{% endif %}

    # Any paths matching these patterns are included/excluded from
    # backups. Globs are expanded. (Tildes are not.) Note that
    # Borg considers this option experimental. See the output of
    # "borg help patterns" for more details. Quote any value if it
    # contains leading punctuation, so it parses correctly.
    # patterns:
        # - R /
        # - '- /home/*/.cache'
        # - + /home/susan
        # - '- /home/*'
{% for dir in borgmatic_location_patterns | default([]) %}
{% if loop.first %}
    patterns:
{% endif %}
        - {{ dir | quote }}
{% endfor %}

    # Read include/exclude patterns from one or more separate
    # named files, one pattern per line. Note that Borg considers
    # this option experimental. See the output of "borg help
    # patterns" for more details.
    # patterns_from:
        # - /etc/borgmatic/patterns
{% for dir in borgmatic_location_patterns_from | default([]) %}
{% if loop.first %}
    patterns_from:
{% endif %}
        - {{ dir | quote }}
{% endfor %}

    # Any paths matching these patterns are excluded from backups.
    # Globs and tildes are expanded. Do not backslash spaces in
    # path names. See the output of "borg help patterns" for more
    # details.
    # exclude_patterns:
        # - '*.pyc'
        # - /home/*/.cache
        # - /etc/ssl
        # - /home/user/path with spaces
{% for dir in borgmatic_location_exclude_patterns | default([]) %}
{% if loop.first %}
    exclude_patterns:
{% endif %}
        - {{ dir | quote }}
{% endfor %}

    # Read exclude patterns from one or more separate named files,
    # one pattern per line. See the output of "borg help patterns"
    # for more details.
    # exclude_from:
        # - /etc/borgmatic/excludes
{% for dir in borgmatic_location_exclude_from | default([]) %}
{% if loop.first %}
    exclude_from:
{% endif %}
        - {{ dir | quote }}
{% endfor %}

    # Exclude directories that contain a CACHEDIR.TAG file. See
    # http://www.brynosaurus.com/cachedir/spec.html for details.
    # Defaults to false.
    # exclude_caches: true
{% if borgmatic_location_exclude_caches is defined %}
    exclude_caches: {{ borgmatic_location_exclude_caches }}
{% endif %}

    # Exclude directories that contain a file with the given
    # filenames. Defaults to not set.
    # exclude_if_present:
        # - .nobackup
{% for dir in borgmatic_location_exclude_if_present | default([]) %}
{% if loop.first %}
    exclude_if_present:
{% endif %}
        - {{ dir | quote }}
{% endfor %}

    # If true, the exclude_if_present filename is included in
    # backups. Defaults to false, meaning that the
    # exclude_if_present filename is omitted from backups.
    # keep_exclude_tags: true
{% if borgmatic_location_keep_exclude_tags is defined %}
    keep_exclude_tags: {{ borgmatic_location_keep_exclude_tags }}
{% endif %}

    # Exclude files with the NODUMP flag. Defaults to false.
    # exclude_nodump: true
{% if borgmatic_location_exclude_nodump is defined %}
    exclude_nodump: {{ borgmatic_location_exclude_nodump }}
{% endif %}

    # Path for additional source files used for temporary internal
    # state like borgmatic database dumps. Note that changing this
    # path prevents "borgmatic restore" from finding any database
    # dumps created before the change. Defaults to ~/.borgmatic
    # borgmatic_source_directory: /tmp/borgmatic
{% if borgmatic_location_internal_source_directory is defined %}
    borgmatic_source_directory: {{ borgmatic_location_internal_source_directory }}
{% endif %}

# Repository storage options. See
# https://borgbackup.readthedocs.io/en/stable/usage/create.html and
# https://borgbackup.readthedocs.io/en/stable/usage/general.html for
# details.
storage:
    # The standard output of this command is used to unlock the
    # encryption key. Only use on repositories that were
    # initialized with passcommand/repokey/keyfile encryption.
    # Note that if both encryption_passcommand and
    # encryption_passphrase are set, then encryption_passphrase
    # takes precedence. Defaults to not set.
    # encryption_passcommand: secret-tool lookup borg-repository repo-name
{% if borgmatic_storage_encryption_passcommand is defined %}
    encryption_passcommand: {{ borgmatic_storage_encryption_passcommand }}
{% endif %}

    # Passphrase to unlock the encryption key with. Only use on
    # repositories that were initialized with
    # passphrase/repokey/keyfile encryption. Quote the value if it
    # contains punctuation, so it parses correctly. And backslash
    # any quote or backslash literals as well. Defaults to not
    # set.
{% if borgmatic_storage_encryption_passphrase is defined %}
    encryption_passphrase: >-
      {{ borgmatic_storage_encryption_passphrase }}
{% endif %}

    # Number of seconds between each checkpoint during a
    # long-running backup. See
    # https://borgbackup.readthedocs.io/en/stable/faq.html
    # for details. Defaults to checkpoints every 1800 seconds (30
    # minutes).
    # checkpoint_interval: 1800
{% if borgmatic_storage_checkpoint_interval is defined %}
    checkpoint_interval: {{ borgmatic_storage_checkpoint_interval }}
{% endif %}

    # Specify the parameters passed to then chunker
    # (CHUNK_MIN_EXP, CHUNK_MAX_EXP, HASH_MASK_BITS,
    # HASH_WINDOW_SIZE). See
    # https://borgbackup.readthedocs.io/en/stable/internals.html
    # for details. Defaults to "19,23,21,4095".
    # chunker_params: 19,23,21,4095
{% if borgmatic_storage_chunker_params is defined %}
    chunker_params: {{ borgmatic_storage_chunker_params }}
{% endif %}

    # Type of compression to use when creating archives. See
    # http://borgbackup.readthedocs.io/en/stable/usage/create.html
    # for details. Defaults to "lz4".
    # compression: lz4
{% if borgmatic_storage_compression is defined %}
    compression: {{ borgmatic_storage_compression }}
{% endif %}


    # Remote network upload rate limit in kiBytes/second. Defaults
    # to unlimited.
    # remote_rate_limit: 100
{% if borgmatic_storage_remote_rate_limit is defined %}
    remote_rate_limit: {{ borgmatic_storage_remote_rate_limit }}
{% endif %}


    # Directory where temporary files are stored. Defaults to
    # $TMPDIR
    # temporary_directory: /path/to/tmpdir
{% if borgmatic_storage_temporary_directory is defined %}
    temporary_directory: {{ borgmatic_storage_temporary_directory }}
{% endif %}


    # Command to use instead of "ssh". This can be used to specify
    # ssh options.  Defaults to not set.
    # ssh_command: ssh -i /path/to/private/key
{% if borgmatic_ssh_command is defined %}
    ssh_command: {{ borgmatic_ssh_command }}
{% endif %}

    # Base path used for various Borg directories. Defaults to
    # $HOME, ~$USER, or ~.
    # borg_base_directory: /path/to/base
{% if borgmatic_storage_borg_base_directory is defined %}
    borg_base_directory: {{ borgmatic_storage_borg_base_directory }}
{% endif %}

    # Path for Borg configuration files. Defaults to
    # $borg_base_directory/.config/borg
    # borg_config_directory: /path/to/base/config
{% if borgmatic_storage_borg_config_directory is defined %}
    borg_config_directory: {{ borgmatic_storage_borg_config_directory }}
{% endif %}

    # Path for Borg cache files. Defaults to
    # $borg_base_directory/.cache/borg
    # borg_cache_directory: /path/to/base/cache
{% if borgmatic_storage_borg_cache_directory is defined %}
    borg_cache_directory: {{ borgmatic_storage_borg_cache_directory }}
{% endif %}

    # Path for Borg security and encryption nonce files. Defaults
    # to $borg_base_directory/.config/borg/security
    # borg_security_directory: /path/to/base/config/security
{% if borgmatic_storage_borg_security_directory is defined %}
    borg_security_directory: {{ borgmatic_storage_borg_security_directory }}
{% endif %}

    # Path for Borg encryption key files. Defaults to
    # $borg_base_directory/.config/borg/keys
    # borg_keys_directory: /path/to/base/config/keys
{% if borgmatic_storage_borg_keys_directory is defined %}
    borg_keys_directory: {{ borgmatic_storage_borg_keys_directory }}
{% endif %}

    # Umask to be used for borg create. Defaults to 0077.
    # umask: 0077
{% if borgmatic_storage_umask is defined %}
    umask: {{ borgmatic_storage_umask }}
{% endif %}


    # Maximum seconds to wait for acquiring a repository/cache
    # lock. Defaults to 1.
{% if borgmatic_storage_lock_wait_time is defined %}
    lock_wait: {{ borgmatic_storage_lock_wait_time }}
{% endif %}

    # Name of the archive. Borg placeholders can be used. See the
    # output of "borg help placeholders" for details. Defaults to
    # "{hostname}-{now:%Y-%m-%dT%H:%M:%S.%f}". If you specify this
    # option, you must also specify a prefix in the retention
    # section to avoid accidental pruning of archives with a
    # different archive name format. And you should also specify a
    # prefix in the consistency section as well.
    archive_name_format: '{{ borgmatic_archive_name_format }}'

    # Bypass Borg error about a repository that has been moved.
    # Defaults to false.
    # relocated_repo_access_is_ok: true
{% if borgmatic_storage_relocated_repo_access_is_ok is defined %}
    relocated_repo_access_is_ok: {{ borgmatic_storage_relocated_repo_access_is_ok }}
{% endif %}

    # Bypass Borg error about a previously unknown unencrypted
    # repository. Defaults to false.
    # unknown_unencrypted_repo_access_is_ok: true
{% if borgmatic_storage_unknown_unencrypted_repo_access_is_ok is defined %}
    unknown_unencrypted_repo_access_is_ok: {{ borgmatic_storage_unknown_unencrypted_repo_access_is_ok }}
{% endif %}

    # Additional options to pass directly to particular Borg
    # commands, handy for Borg options that borgmatic does not yet
    # support natively. Note that borgmatic does not perform any
    # validation on these options. Running borgmatic with
    # "--verbosity 2" shows the exact Borg command-line
    # invocation.
    # extra_borg_options:
        # Extra command-line options to pass to "borg init".
        # init: --make-parent-dirs

        # Extra command-line options to pass to "borg prune".
        # prune: --save-space

        # Extra command-line options to pass to "borg create".
        # create: --no-files-cache

        # Extra command-line options to pass to "borg check".
        # check: --save-space
{% if borgmatic_storage_extra_borg_options is defined %}
    extra_borg_options:
{{ borgmatic_storage_extra_borg_options | to_nice_yaml(indent=8, width=2000) }}}}
{% endif %}

# Retention policy for how many backups to keep in each category. See
# https://borgbackup.readthedocs.io/en/stable/usage/prune.html for
# details. At least one of the "keep" options is required for pruning
# to work. To skip pruning entirely, run "borgmatic create" or "check"
# without the "prune" action. See borgmatic documentation for details.
retention:
    # Keep all archives within this time interval.
    # keep_within: 3H
{% if borgmatic_retention_policy.keep_within is defined %}
    keep_within: {{ borgmatic_retention_policy.keep_within }}
{% endif %}

    # Number of secondly archives to keep.
    # keep_secondly: 60
{% if borgmatic_retention_policy.keep_secondly is defined %}
    keep_secondly: {{ borgmatic_retention_policy.keep_secondly }}
{% endif %}

    # Number of minutely archives to keep.
    # keep_minutely: 60
{% if borgmatic_retention_policy.keep_minutely is defined %}
    keep_minutely: {{ borgmatic_retention_policy.keep_minutely }}
{% endif %}

    # Number of hourly archives to keep.
    # keep_hourly: 24
{% if borgmatic_retention_policy.keep_hourly is defined %}
    keep_hourly: {{ borgmatic_retention_policy.keep_hourly }}
{% endif %}

    # Number of daily archives to keep.
    # keep_daily: 7
{% if borgmatic_retention_policy.keep_daily is defined %}
    keep_daily: {{ borgmatic_retention_policy.keep_daily }}
{% endif %}

    # Number of weekly archives to keep.
    # keep_weekly: 4
{% if borgmatic_retention_policy.keep_weekly is defined %}
    keep_weekly: {{ borgmatic_retention_policy.keep_weekly }}
{% endif %}

    # Number of monthly archives to keep.
    # keep_monthly: 6
{% if borgmatic_retention_policy.keep_monthly is defined %}
    keep_monthly: {{ borgmatic_retention_policy.keep_monthly }}
{% endif %}

    # Number of yearly archives to keep.
    # keep_yearly: 1
{% if borgmatic_retention_policy.keep_yearly is defined %}
    keep_yearly: {{ borgmatic_retention_policy.keep_yearly }}
{% endif %}

    # When pruning, only consider archive names starting with this
    # prefix.  Borg placeholders can be used. See the output of
    # "borg help placeholders" for details. Defaults to
    # "{hostname}-". Use an empty value to disable the default.
    # prefix: sourcehostname
    prefix: '{{ borgmatic_archive_name_prefix }}'

# Consistency checks to run after backups. See
# https://borgbackup.readthedocs.io/en/stable/usage/check.html and
# https://borgbackup.readthedocs.io/en/stable/usage/extract.html for
# details.
consistency:
    # List of one or more consistency checks to run: "repository",
    # "archives", "data", and/or "extract". Defaults to
    # "repository" and "archives". Set to "disabled" to disable
    # all consistency checks. "repository" checks the consistency
    # of the repository, "archives" checks all of the archives,
    # "data" verifies the integrity of the data within the
    # archives, and "extract" does an extraction dry-run of the
    # most recent archive. Note that "data" implies "archives".
    # checks:
        # - repository
        # - archives
{% for ctype in borgmatic_consistency_checks | default([]) %}
{% if loop.first %}
    checks:
{% endif %}
        - {{ ctype | quote }}
{% endfor %}

    # Paths to a subset of the repositories in the location
    # section on which to run consistency checks. Handy in case
    # some of your repositories are very large, and so running
    # consistency checks on them would take too long. Defaults to
    # running consistency checks on all repositories configured in
    # the location section.
    # check_repositories:
        # - user@backupserver:sourcehostname.borg

    # Restrict the number of checked archives to the last n.
    # Applies only to the "archives" check. Defaults to checking
    # all archives.
    # check_last: 3
{% if borgmatic_consistency_check_last is defined %}
    check_last: {{ borgmatic_consistency_check_last }}
{% endif %}

    # When performing the "archives" check, only consider archive
    # names starting with this prefix. Borg placeholders can be
    # used. See the output of "borg help placeholders" for
    # details. Defaults to "{hostname}-". Use an empty value to
    # disable the default.
    prefix: '{{ borgmatic_archive_name_prefix }}'

# Options for customizing borgmatic's own output and logging.
# output:
    # Apply color to console output. Can be overridden with
    # --no-color command-line flag. Defaults to true.
    # color: false

# Shell commands, scripts, or integrations to execute at various
# points during a borgmatic run. IMPORTANT: All provided commands and
# scripts are executed with user permissions of borgmatic. Do not
# forget to set secure permissions on this configuration file (chmod
# 0600) as well as on any script called from a hook (chmod 0700) to
# prevent potential shell injection or privilege escalation.
{% if hostvars[inventory_hostname].keys() | map('regex_search', 'borgmatic_hooks_.*') | select('string') | list | length > 0 %}
hooks:
{% else %}
# hooks:
{% endif %}
    # List of one or more shell commands or scripts to execute
    # before creating a backup, run once per configuration file.
    # before_backup:
        # - echo "Starting a backup."
{% for cmd in borgmatic_hooks_before_backup | default([]) %}
{% if loop.first %}
    before_backup:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # before pruning, run once per configuration file.
    # before_prune:
        # - echo "Starting pruning."
{% for cmd in borgmatic_hooks_before_prune | default([]) %}
{% if loop.first %}
    before_prune:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # before consistency checks, run once per configuration file.
    # before_check:
        # - echo "Starting checks."
{% for cmd in borgmatic_hooks_before_check | default([]) %}
{% if loop.first %}
    before_check:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # before extracting a backup, run once per configuration file.
    # before_extract:
        # - echo "Starting extracting."
{% for cmd in borgmatic_hooks_before_extract | default([]) %}
{% if loop.first %}
    before_extract:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # after creating a backup, run once per configuration file.
    # after_backup:
        # - echo "Finished a backup."
{% for cmd in borgmatic_hooks_after_backup | default([]) %}
{% if loop.first %}
    after_backup:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # after pruning, run once per configuration file.
    # after_prune:
        # - echo "Finished pruning."
{% for cmd in borgmatic_hooks_after_prune | default([]) %}
{% if loop.first %}
    after_prune:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # after consistency checks, run once per configuration file.
    # after_check:
        # - echo "Finished checks."
{% for cmd in borgmatic_hooks_after_check | default([]) %}
{% if loop.first %}
    after_check:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # after extracting a backup, run once per configuration file.
    # after_extract:
        # - echo "Finished extracting."
{% for cmd in borgmatic_hooks_after_extract | default([]) %}
{% if loop.first %}
    after_extract:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # when an exception occurs during a "prune", "create", or
    # "check" action or an associated before/after hook.
    # on_error:
        # - echo "Error during prune/create/check."
{% for cmd in borgmatic_hooks_on_error | default([]) %}
{% if loop.first %}
    on_error:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # before running all actions (if one of them is "create").
    # These are collected from all configuration files and then
    # run once before all of them (prior to all actions).
    # before_everything:
        # - echo "Starting actions."
{% for cmd in borgmatic_hooks_before_everything | default([]) %}
{% if loop.first %}
    before_everything:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more shell commands or scripts to execute
    # after running all actions (if one of them is "create").
    # These are collected from all configuration files and then
    # run once after all of them (after any action).
    # after_everything:
        # - echo "Completed actions."
{% for cmd in borgmatic_hooks_after_everything | default([]) %}
{% if loop.first %}
    after_everything:
{% endif %}
        - {{ cmd }}
{% endfor %}

    # List of one or more PostgreSQL databases to dump before
    # creating a backup, run once per configuration file. The
    # database dumps are added to your source directories at
    # runtime, backed up, and removed afterwards. Requires
    # pg_dump/pg_dumpall/pg_restore commands. See
    # https://www.postgresql.org/docs/current/app-pgdump.html and
    # https://www.postgresql.org/docs/current/libpq-ssl.html for
    # details.
    # postgresql_databases:
        # Database name (required if using this hook). Or
        # "all" to dump all databases on the host. Note
        # that using this database hook implicitly enables
        # both read_special and one_file_system (see
        # above) to support dump and restore streaming.
        # - name: users

          # Database hostname to connect to. Defaults to
          # connecting via local Unix socket.
          # hostname: database.example.org

          # Port to connect to. Defaults to 5432.
          # port: 5433

          # Username with which to connect to the database.
          # Defaults to the username of the current user.
          # You probably want to specify the "postgres"
          # superuser here when the database name is "all".
          # username: dbuser

          # Password with which to connect to the database.
          # Omitting a password will only work if PostgreSQL
          # is configured to trust the configured username
          # without a password, or you create a ~/.pgpass
          # file.
          # password: trustsome1

          # Database dump output format. One of "plain",
          # "custom", "directory", or "tar". Defaults to
          # "custom" (unlike raw pg_dump). See pg_dump
          # documentation for details. Note that format is
          # ignored when the database name is "all".
          # format: directory

          # SSL mode to use to connect to the database
          # server. One of "disable", "allow", "prefer",
          # "require", "verify-ca" or "verify-full".
          # Defaults to "disable".
          # ssl_mode: require

          # Path to a client certificate.
          # ssl_cert: /root/.postgresql/postgresql.crt

          # Path to a private client key.
          # ssl_key: /root/.postgresql/postgresql.key

          # Path to a root certificate containing a list of
          # trusted certificate authorities.
          # ssl_root_cert: /root/.postgresql/root.crt

          # Path to a certificate revocation list.
          # ssl_crl: /root/.postgresql/root.crl

          # Additional pg_dump/pg_dumpall options to pass
          # directly to the dump command, without performing
          # any validation on them. See pg_dump
          # documentation for details.
          # options: --role=someone
{% if borgmatic_hooks_postgresql_databases is defined %}
    postgresql_databases:
{{ borgmatic_hooks_postgresql_databases | to_nice_yaml(indent=8, width=2000) }}}}
{% endif %}

    # List of one or more MySQL/MariaDB databases to dump before
    # creating a backup, run once per configuration file. The
    # database dumps are added to your source directories at
    # runtime, backed up, and removed afterwards. Requires
    # mysqldump/mysql commands (from either MySQL or MariaDB). See
    # https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html or
    # https://mariadb.com/kb/en/library/mysqldump/ for details.
    # mysql_databases:
        # Database name (required if using this hook). Or
        # "all" to dump all databases on the host. Note
        # that using this database hook implicitly enables
        # both read_special and one_file_system (see
        # above) to support dump and restore streaming.
        # - name: users

          # Database hostname to connect to. Defaults to
          # connecting via local Unix socket.
          # hostname: database.example.org

          # Port to connect to. Defaults to 3306.
          # port: 3307

          # Username with which to connect to the database.
          # Defaults to the username of the current user.
          # username: dbuser

          # Password with which to connect to the database.
          # Omitting a password will only work if MySQL is
          # configured to trust the configured username
          # without a password.
          # password: trustsome1

          # Additional mysqldump options to pass directly to
          # the dump command, without performing any
          # validation on them. See mysqldump documentation
          # for details.
          # options: --skip-comments
{% if borgmatic_hooks_mysql_databases is defined %}
    mysql_databases:
{{ borgmatic_hooks_mysql_databases | to_nice_yaml(indent=8, width=2000) }}}}
{% endif %}

    # Healthchecks ping URL or UUID to notify when a backup
    # begins, ends, or errors. Create an account at
    # https://healthchecks.io if you'd like to use this service.
    # See borgmatic monitoring documentation for details.
    # healthchecks: https://hc-ping.com/your-uuid-here
{% if borgmatic_hooks_healthchecks is defined %}
    healthchecks: {{ borgmatic_hooks_healthchecks }}
{% endif %}

    # Cronitor ping URL to notify when a backup begins, ends, or
    # errors. Create an account at https://cronitor.io if you'd
    # like to use this service. See borgmatic monitoring
    # documentation for details.
    # cronitor: https://cronitor.link/d3x0c1
{% if borgmatic_hooks_cronitor is defined %}
    cronitor: {{ borgmatic_hooks_cronitor }}
{% endif %}

    # PagerDuty integration key used to notify PagerDuty when a
    # backup errors. Create an account at
    # https://www.pagerduty.com/ if you'd like to use this
    # service. See borgmatic monitoring documentation for details.
    # pagerduty: a177cad45bd374409f78906a810a3074
{% if borgmatic_hooks_pagerduty is defined %}
    pagerduty: {{ borgmatic_hooks_pagerduty }}
{% endif %}

    # Cronhub ping URL to notify when a backup begins, ends, or
    # errors. Create an account at https://cronhub.io if you'd
    # like to use this service. See borgmatic monitoring
    # documentation for details.
    # cronhub: https://cronhub.io/start/1f5e3410-254c-11e8-b61d-55875966d01
{% if borgmatic_hooks_cronhub is defined %}
    cronhub: {{ borgmatic_hooks_cronhub }}
{% endif %}

    # Umask used when executing hooks. Defaults to the umask that
    # borgmatic is run with.
    # umask: 0077
{% if borgmatic_hooks_umask is defined %}
    umask: {{ borgmatic_hooks_umask }}
{% endif %}
