Host {{ borgmatic_ssh_connection_name }}
{% if borgmatic_reverse_tunnel_enable %}
	HostName localhost
	Port {{ borgmatic_servertobackup_reverse_tunnel_ssh_port }}
{% else %}
	HostName {{ borgmatic_backupserver_hostname_from_servertobackup }}
	Port {{ borgmatic_backupserver_ssh_port }}
{% endif %}
	User {{ borgmatic_backupserver_user }}
	IdentityFile {{ borgmatic_ssh_key_path }}
	IdentitiesOnly yes
	StrictHostKeyChecking accept-new
