Host {{ borgmatic_ssh_connection_name }}
	HostName {{ borgmatic_servertobackup_hostname_from_backupserver }}
	Port {{ borgmatic_servertobackup_ssh_port }}
	User {{ borgmatic_servertobackup_user }}
	IdentityFile {{ borgmatic_ssh_key_path }}
	IdentitiesOnly yes
	RemoteForward {{ borgmatic_servertobackup_reverse_tunnel_ssh_port }} localhost:{{ borgmatic_backupserver_ssh_port }}
	StrictHostKeyChecking accept-new
